body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25rem;
    color: #0B274A;
  }
  
.message {
    background: transparent;
    border: none;
    resize: none;
    border-left: 2px dashed #0B274A;
    border-bottom: 2px solid white;
    border-radius: 5px;

  }
  
.jumbotron {
    background-color: transparent;
    border-radius: 0;

  }

.past {
    background-color: #CACACA;
    color: #0B274A;
  }
  
.present {
    background-color: #F79286;
    color: #0B274A;
  }
  
.future {
    background-color: #A8DCD8;
    color: #0B274A;
  }
  
.saveBtn, .clearBtn {
    background-color: #0B274A;
    color: white;
    font-size: 25px;
    border-radius: 8px;
    
  }

#text-notes {
    border: none;
    color: #0B274A;
  }

.card {
  width: 73%;
  border-color: #0B274A;
  border-width: 3px;
  border-radius: 8px;

}
.hour {
  margin-top: 25px;
  font-size: 15px;
}

header {
  padding: 25px;
}


h2, #today, .card-title {
  font-family: 'Special Elite', cursive;
  color: #0B274A;
}

#subheader, #currentDay, .hour {
  font-family: 'Poppins', sans-serif;
  color: #0B274A;
}

.date {
  margin-top: 90px;
  
}

.text-right {
  margin-right: 210px;

}

.footer {
  color: #0B274A;
  font-family: 'Poppins', sans-serif;
}

.fa-clock, .fa-calendar-day, .fa-sticky-note {
  font-size: 25px;
}

.fa-calendar-day, .fa-sticky-note {
  padding-left: 4px;
}

#currentDay {
  font-weight: 600;
}
