body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #0B274A;
  }
  
  .message {
    background: transparent;
    border: none;
    resize: none;
    border-left: 2px dashed #0B274A;
    border-bottom: 2px solid white;
    border-radius: 3px;

  }
  
  .jumbotron {
    background-color: transparent;
    border-radius: 0;
    margin: 0;

  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .past {
    background-color: #CACACA;
    color: #0B274A;
  }
  
  .present {
    background-color: #F79286;
    color: #0B274A;
  }
  
  .future {
    background-color: #A8DCD8;
    color: #0B274A;
  }
  
  .saveBtn, .clearBtn {
    background-color: #0B274A;
    color: white;
    font-size: 30px;
    border-radius: 8px;
  }

  #text-notes {
    border: none;
  }

.card {
  width: 70%;
  border-color: #0B274A;
  border-width: 3px;
  border-radius: 8px;

}
.hour {
  margin-top: 25px;
  font-size: 15px;
}

header {
  padding: 30px;
}

/* .display-3, #subheader {
   margin-left: 130px;
   margin-top: 5px;

} */

h2, #today, .card-title {
  font-family: 'Special Elite', cursive;
  color: #0B274A;
}

#subheader, #currentDay, .hour {
  font-family: 'Poppins', sans-serif;
  color: #0B274A;
}

.date {
  margin-top: 60px;
  
}









